{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object.backup }}"?</p>
                <input type="submit" class="btn btn-primary btn-block"value="Yes" />
                <a class="btn btn-primary btn-block" href="{% url 'set_detail' object.group|slugify object.set|slugify %}">Back</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}