{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container">
      <ol class="breadcrumb breadcrumb-right-arrow ">
        <li class="breadcrumb-item"><a href=".">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'group_list' %}">Groups</a></li>
        <li class="breadcrumb-item"><a href="{% url 'group_detail' guide.set.group.name|slugify %}">Sets</a></li>
        <li class="breadcrumb-item"><a href="{% url 'set_detail' guide.set.group.name|slugify guide.set.name|slugify %}">{{guide.set.name}}</a></li>
        <li class="breadcrumb-item active">{{guide.name}}</li>
      </ol>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
          {% if 'edited' in request.GET %}
            <p style="color:green;">Guide edited</p>
          {% endif %}
          <div>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.as_p }}
                <div class="text-center">
                  <input type="submit" class="btn btn-primary btn-block"value="Edit" />
                  <a class="btn btn-primary btn-block" href="{% url 'set_detail' object.set.group.slug object.set.slug %}">Back</a>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}