{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <html>
        <div class="col-md-9 mx-auto mb-5">
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.password|as_crispy_field }}
      </div>
    {{ form.check_me_out|as_crispy_field }}
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.note|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.url|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Accept</button>
  </form>
        </div>
    </html>
    <script type="text/javascript">
        function reveal()
        {
            if(document.getElementById('box').checked)
                {document.getElementById("pw").type='text';}
            else
                document.getElementById("pw").type='password';
        }
    </script>   
{% endblock %}
