{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main">
  <div class="container">
  	<ol class="breadcrumb breadcrumb-right-arrow">
            <li class="breadcrumb-item"><a href=".">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'group_list' %}">Groups</a></li>
            <li class="breadcrumb-item active">Create Set</li>
        </ol>
    <div class="row mt-3">
        <div class="col-md-9 mx-auto mb-5">
            {% crispy form %}
        </div>
    </div>
  </div>
</main>
{% endblock %}
