{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<main role="main">
  <div class="container">
      <ol class="breadcrumb breadcrumb-right-arrow">
          <li class="breadcrumb-item"><a href=".">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'group_list' %}">Groups</a></li>
          <li class="breadcrumb-item"><a href="{% url 'group_detail' set.group.name|slugify %}">Sets</a></li>
          <li class="breadcrumb-item active">{{set.name}}</li>
      </ol>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        {% if 'edited' in request.GET %}
          <p style="color:green;">Set edited</p>
        {% endif %}
        {% crispy form %}
      </div>
    </div>
  </div>
</main>
{% endblock %}