{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<main role="main">
  <div class="container-fluid">
    <ol class="breadcrumb breadcrumb-right-arrow">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'guide_list' %}">Guides</a></li>
        <li class="breadcrumb-item active" >Create guide</li>
    </ol>
    <div class="row">
      <div class="col-md-12 mx-auto">
        {% if 'edited' in request.GET %}
          <p style="color:green;">Guide edited</p>
        {% endif %}
        {% crispy form %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
