{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container ml-auto">
    <ol class="breadcrumb breadcrumb-right-arrow">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" >Guides</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md">
            <form class="" method="GET" action="">
                <div class="row">
                    <div class="col input-group">
                        <input class="form-control" type="text" placeholder="Search guides" name="q" value="{{ request.GET.q }}">
                        <button class="btn btn btn-success" type="submit" value="Search"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if 'edited' in request.GET %}
        <p class="text-center" style="color:green;">Note edited succefully</p>
    {% elif 'deleted' in request.GET %}
        <p class="text-center" style="color:green;">Note deleted succefully</p>
    {% elif 'created' in request.GET %}
        <p class="text-center" style="color:green;">Note created succefully</p>
    {% endif %}
    {% if object_list %}
    <div class="row">
      <div class="col-md">
 	  {% for guide in object_list %}
              <div class="row justify-content-center">
                <div class="col-md">
                  <div class="card-group">
                    <div class="card">
                      <h5 class="card-header">
                        <div class="row align-items-center">
                          <div class="col title-cut">
                            <strong>{{guide.name}}</strong>
                          </div>
                          <div class="col-auto">
                            <a href="{% url 'guide_detail' guide.name|slugify %}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'guide_update' guide.name|slugify %}" class="btn btn-secondary"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'guide_delete' guide.name|slugify %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                          </div>
                        </div>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
         {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="col-md-12 text-center">Guides Empty, please create a new guides using the button in the end of the page</div>
    {% endif %}
      <div id="container-floating">
          <div class="nd1 nds" data-toggle="tooltip" data-placement="left" title="Add guide">
              <p class="letter"><a style="text-decoration:none;color:white" href="{% url 'guide_create' %}"><i class="fa fa-book"></i></a></p>
          </div>
          <div id="floating-button" data-toggle="tooltip" data-placement="left" onclick="newmail()">
              <p class="plus">+</p> <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png" />
          </div>
      </div>
  </div>
</main>
{% endblock %}
