{% extends 'core/base.html' %}
{% load static %}
{% load core_tags %}
{% block content %}
<main role="main">
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
    <div class="container">
        <ol class="breadcrumb breadcrumb-right-arrow ">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'key_list' %}">Keys</a></li>
          <li class="breadcrumb-item active">{{key.name}}</li>
        </ol>
        <div class="row mt-3">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="section-heading mb-2">
                    {{key.name}}
                </h2>
		<a class="btn btn-primary mb-2" href="mailto:email@example.com?subject={{key.name}}&body=Username:{{key.username}}%0APassword:{{key.password}}%0ANote:{{key.note}}%0AURL:{{key.url}}"><i class="fas fa-envelope-square"></i></a>
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target=".bs-example-modal-md"><i class="fas fa-history"></i></button>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
		        <strong>Username</strong>
                        <button type="button" class="btn btn-primary btn-sm" style="float: right;" onclick="copyToClipboard('#p1')"><i class="fas fa-clipboard"></i></button>
                    </div>
                    <div class="card-body">
                        <div id="p1">{{key.username}}</div>
		    </div>
		</div>
	    </div>
            <div class="col-md-6">  
                <div class="card mb-3">
                    <div class="card-header">
			<strong>Password</strong>
                        <button type="button" class="btn btn-primary btn-sm" style="float: right;" onclick="copyToClipboard('#p2')"><i class="fas fa-clipboard"></i></button>
    		    </div>
                    <div class="card-body">
                        <div id="p2">{{key.password}}</div>
                    </div>
                </div>
	    </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
			<strong>URL</strong>
                        <button type="button" class="btn btn-primary btn-sm" style="float: right;" onclick="copyToClipboard('#p3')"><i class="fas fa-clipboard"></i></button>
		    </div>
                    <div class="card-body">
                        <div id="p3">{{key.url}}</div>
                    </div>
                </div>
	    </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
			<strong>File</strong>
		    </div>
                    <div class="card-body">
                        <p class="card-text">
                        {% if key.file.url != blanck %}
                            <a href="{{key.file.url}}" download>{{key.file | getfilename}}</a>
                        {% else %}
                            Empty
                        {% endif %}
                        </p>
                    </div>
                </div>
	    </div>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Note</strong>
                    </div>
                    <div class="card-body">
                        {{key.note}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-md"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="history-keys">History Keys</h5>
                </div>
                <div class="modal-body mx-auto">
                    {% for k in key.history.all %}
                    <p>
                        Date: {{k.history_date}}<br>
                        Username: {{k.username}}<br>
                        Password: {{k.password}}<br>
                        File:  <a href="{{k.file.url}}">{{k.file}}</a>
                    </p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>
</main>
{% endblock %}
