{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main">
  <div class="container-fluid">
    <ol class="breadcrumb breadcrumb-right-arrow ">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'key_list' %}">Keys</a></li>
      <li class="breadcrumb-item active">{{key.name}}</li>
    </ol>
    <div class="row">
      <div class="col-md-12 mx-auto">
        {% if 'edited' in request.GET %}
          <p style="color:green;" class="text-center">Key edited</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    <label for="id_username">Username</label>
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    <label for="id_password">Password  <a href="#" id="show-pass"><i class="fa fa-eye fa-sm" id="sh"></i></a></label>
                    {{ form.password|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0">
                  <label for="id_note">Note</label>
                  {{ form.note|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0">
                    <label for="id_url">URL</label>
                  {{ form.url|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0">
                    <label for="id_url">File</label>
                  {{ form.file|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Accept</button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function () {
    $('#show-pass').click(function () {
      if ($('#id_password').attr('type') === 'password') {
        $('#id_password').attr('type', 'text');
      } else {
        $('#id_password').attr('type', 'password');
      }
    });
  });
   </script>
</main>
{% endblock %}

