{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
    <div class="container">
        <ol class="breadcrumb breadcrumb-right-arrow ">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'note_list' %}">Notes</a></li>
          <li class="breadcrumb-item active">{{note.name}}</li>
        </ol>
        <div class="row mt-3">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="section-heading mb-2">
                    {{note.name}}
                </h2>
		<a class="btn btn-primary mb-2" href="mailto:email@example.com?subject={{note.name}}&body={{note.note}}"><i class="fas fa-envelope-square"></i></a>
            </div>
            <div class="col-md-12 mx-auto">
                <div class="card mb-3">
                <h5 class="card-header">Note</h5>
                    <div class="card-body">
                    <p class="card-text">
                        {{note.note|safe}}
                    </p>
                    </div>
                </div>
                <div class="card mb-3">
                <h5 class="card-header">File</h5>
                    <div class="card-body">
                    <p class="card-text">
                        {% if note.file.url != blanck %}
                        <a href="{{note.file.url}}" download>{{note.file}}</a>
                        {% else %}
                        Empty
                        {% endif %}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
