{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container">
    <ol class="breadcrumb breadcrumb-right-arrow ">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'key_list' %}">Delete User</a></li>
    </ol>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object.user }}"?</p>
                <input type="submit" class="btn btn-primary btn-block"value="Yes" />
                <a class="btn btn-primary btn-block" href="{% url 'home' %}">Back</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
